<h4>String Interpolation</h4>
{{aString}}

{{aNumber}}

<hr>

<h4>Property Binding</h4>
<p [innerText]="aString"></p>
<div>
  <input type="text" [value]="aNumber">
</div>
<div [ngClass]="{'red-border': attachClass}" [ngStyle]="{'background-color': 'blue'}">
  Text
</div>

<app-property-binding [nameData]="'Max'"></app-property-binding>
<hr>
<h4>Event Binding</h4>
<button (click)="onClick($event)">Klick mich!</button>

<app-event-binding (clicked)="aString = $event"></app-event-binding>

<hr>

<h4>Two Way Binding</h4>
<!-- Selbst gebaut -->
<input type="text" [value]="aString" (keyup)="aString= input.value" #input />

<!-- Mit Angular -->
<input type="text" [(ngModel)]="aString"/>
